<!DOCTYPE html>
<html>
    <div class="header">
        <div class="header-right">
            <a class="active" href="index.ejs">Home</a>
            <a href="https://rugbycloneproject.herokuapp.com/teams">Teams</a>
            <a href="https://rugbycloneproject.herokuapp.com/players">Players</a>
            <a href="https://rugbycloneproject.herokuapp.com/pitches">Pitches</a>
        </div>
    </div>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <input class="buttons" type="button" onclick="location.href='error.ejs';" value="Go to error page"/>
    </body>
</html>
