<!DOCTYPE html>
<html>
    <div class="header">
        <div class="header-right">
            <a class="active" href="index.ejs">Home</a>
            <a href="">Contact</a>
            <a href="">About</a>
            <a href="login.ejs">Login/SignUp</a>
        </div>
    </div>
</html>